# Description: Environment variables for the VITE project on development.
# you have to create a .env file with the name .env.development and copy this snippet.
# and remember to change the paths to the correct paths on your machine.

# OBLIGATORY FOR CORRECT FUNCTIONING ON DEVELOPMENT

# Path to the python executable on venv.
VITE_PYTHON_PATH=/path/to/the/repository/RIVeR/venv/bin/python3

# Path to the RIVeR CLI folder.
VITE_RIVER_CLI_PATH=/path/to/the/repository/RIVeR/river/cli/

# It is necessary to add a prefix to all file paths outside the project.
# This is because, in development, we cannot access files using the Electron file protocol.
# Vite creates a server to serve the files, so we need to add a prefix to the file paths.
# If these variables are not set, we cannot display images or videos from the user's computer (outside the project directory).
# THIS CONFIGURATION IS ONLY FOR DEVELOPMENT. In production, this is not required.

# Examples:
# - On Linux or MacOS, use '/@fs/' as the prefix.
# - On Windows, use 'file:\\' as the prefix.
# Set the appropriate prefix based on your operating system:
VITE_FILE_PREFIX=''

## NOT OBLIGATORY

# APP_VERSION
VITE_APP_VERSION=3.0.0

# Path to the ffmpeg executable.
VITE_FFMPEG_PATH=/path/to/ffmpeg/bin/ffmpeg

# Path to the ffprobe executable.
VITE_FFPROBE_PATH=/path/to/ffmpeg/bin/ffprobe