.home-page {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-page-image-div {
    justify-self: start;
}

.home-page-image {
    margin-top: 130px;
    width: 500px;
    height: 293px;
    left: 506px;

}

.home-page-buttons {
    margin-top: 5%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
}

.home-page-error {
    color: var(--background-error)
}

/* 
.home-page-footer{
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 30px;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    width: 52%;
    border: solid;

} */

.step-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.step-2-title {
    margin-top: 200px;
    font-size: 35px;
}

.hidden-file-input {
    display: none;
}

.file-upload-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.drone-upload {
    font-size: 125px;
    transition: transform 0.3s;
}

.drone-upload:hover {
    transform: scale(1.1);
}

/* Cuando utilizemos las 2 opciones, usar una sola clase */
.camera-upload {
    font-size: 125px;
}

.file-name {
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3rem;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}


.regular-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



/* PARA MOSTRAR LA IMAGEN, DESPUES BORRAR */
.stage-step5 {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.step5-overflow {
    overflow-x: scroll;
}


@media screen and (max-width: 1300px) {
    .step-3 {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .file-upload-container {
        width: 400px;
        transition: ease 0.9s;
    }
}

.report-container {
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

#download-button{
    position: absolute;
    height: 60px;
    width: 100px;
    top: 10px;
    right: 200px;

}

.page {
    margin-top: 20px;
    width: 1240px;
    /* height: 1754px; */
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
}


@media print {
    .page { 
        page-break-after: always;
    }

    .report-section-container {
        page-break-inside: avoid;
    }
}

#text-report{
    margin-top: 40px;
    width: 80%;
}




#last-settings-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    height: 100vh;
    overflow-y: hidden;
}

#last-settings-form{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);

}

.last-settings-form-field-container{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-top: 15px;
}

.last-settings-form-field-container label{
    font-size: 20px;
    font-weight: 500;

}

.last-settings-form-field-container input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: var(--input-background);
    color: var(--primary-text-color);
}

.last-settings-form-field-container input:focus{
    outline: none;
    border-bottom: 4px solid var(--background-error);

}
.last-settings-form-field-radio{
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    width: 70%;
    background-color: transparent;

}

#label-unit-sistem{
    margin-bottom: 15px;
    align-self: center;
}

.last-settings-form-field-radio label{
    margin-right: 20px;
    margin-bottom: 8px;
    font-size: 18px;
}

.last-settings-form-field-radio input{
    width: 20px;
}

#last-settings-form-field-date{
    font-size: 17px;
}

#last-settings-form-field-date::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}



#button-send {
    width: 150px;
    height: 50px;
    background-color: var(--input-background);
    color: var(--primary-text-color);
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

#button-send:hover {
    background-color: var(--on-hover);
}

#button-send:active {
    background-color: var(--on-hover);
    transform: scale(0.95);
}