.form-container{
    min-width: 400px;
    width: 29%;
    height: 98vh;
    background-color: var(--secondary-background-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-shrink: 0;
}

/* Cambiar dependiendo el tamaño de la pantalla */
.form-title{
    margin-top: 105px;
}

/* .form-base{
    padding: 90px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    margin-bottom: 40px;
} */

/* 
.ghost{
    width: 20px;
    height: 20px;
} */

.read-only{
    background-color: var(--input-background);
    color: var(--primary-text-color);
    border: solid 0.1px;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    word-wrap: break-word;
    font-size: auto;
    white-space: nowrap; /* Asegura que el texto se mantenga en una sola línea */
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
}

.bg-transparent{
    background-color: transparent;
    border: none;
    width: 150px;
}

.form-video-extra-info{
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 65%;
}

.form-video-extra-info-row{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 1.2rem;
}

.form-video-extra-info-row p{
    margin-right: 5px;
}

#time-between-frames{
    min-width: 320px;
}



/* .form-cross-sections{
    height: 100%;
    overflow-x: hidden;
    margin-top: 30px;

} */
/* 
.simple-mode-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    align-items: center;
    &::-webkit-scrollbar {
        display: none;
    }
} */

/* .simple-mode{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 300px;
    height: 35%;
    padding: 80px;
    padding-top: 0px;
    flex-shrink: 0;
    overflow-y: hidden;
} */

/* .space{
    height: 55%;
    flex-shrink: 1;
    width: 10px;
}

.space2{
    height: 45%;
    flex-shrink: 1s;
    width: 20px;
}

.space3{
    height: 510px;
    width: 100%;
} */

/* .hard-mode{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 90px;
    padding-top: 0px;
} */

.bathimetry-button p {
    text-align: center;
    margin-top: 10px;
}

.bathimetry{
    grid-column: 1 /-1;
    width: 95%;
    min-height: 300px;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}


.btn-lock-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: 40px;
}
    
    
.form-subtitle{
    font-weight: 400;
    margin-left: 70px;
    align-self: flex-start;
}


.field-title{
    font-weight: 400;
}
/* 
.simple-mode-processing{
    min-height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
} */

/* .test-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
} */








@media screen and (max-height : 1150px) {
    .form-title{
        margin-top: 65px;
    }
    .hard-mode-processing{
        padding-top: 10px;
    }
}



@media screen and (max-height : 900px) {
    .form-title{
        margin-top: 25px;
    }
}


/* button lock */

.btn-lock {
    top: calc(90% - 32px);
    left: calc(90% - 32px);
    display: inline-block;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    padding: 12px 0 0 18px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }


.btn-lock svg {
fill: none;
transform: translate3d(0, 0, 0);
}

.btn-lock svg .bling {
stroke: #fff;
stroke-width: 2.5;
stroke-linecap: round;
stroke-dasharray: 3;
stroke-dashoffset: 15;
transition: all 0.3s ease;
}

.btn-lock svg .lock {
stroke: #fff;
stroke-width: 4;
stroke-linejoin: round;
stroke-linecap: round;
stroke-dasharray: 36;
transition: all 0.4s ease;
}

.btn-lock svg .lockb {
fill: #fff;
fill-rule: evenodd;
clip-rule: evenodd;
transform: rotate(8deg);
transform-origin: 14px 20px;
transition: all 0.2s ease;
}

#inpLock {
display: none;
}


#inpLock:checked + label svg {
opacity: 1;
}

#inpLock:checked + label svg .bling {
animation: bling6132 0.3s linear forwards;
animation-delay: 0.2s;
}

#inpLock:checked + label svg .lock {
stroke-dasharray: 48;
animation: locked 0.3s linear forwards;
}

#inpLock:checked + label svg .lockb {
transform: rotate(0);
transform-origin: 14px 22px;
}

@keyframes bling6132 {
50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
}

100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
}
}

@keyframes locked {
50% {
    transform: translateY(1px);
}
}



.analizing-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
    height: 100%;

}


#stop-analize{
    position: relative;
    width: 100px;
    align-self: center;
    margin-top: auto;
    margin-bottom: 20px;
}


#result-info{
    display: flex;
    align-self: flex-start;
    margin-bottom: 30px;
    padding-left: 60px;
}

#result-info #result-number{
    font-size: 2.2rem;
    font-weight: bold;
    margin-right: 10px;
}

#result-measured{
    margin-bottom: 3px;
}

#form-result{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}


/* ** Refactor de estilos  a partir de aca */

.form-scroll{
    width: 99%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.form-scroll.disabled{
    opacity: 0.5; /* Reduce la opacidad para indicar que está deshabilitado */
    pointer-events: none; /* Evita la interacción con los elementos dentro del contenedor */
    cursor: not-allowed; /* Cambia el cursor para indicar que no está permitido */
}

.form-base-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-container-2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
}

.only-one-item{
    display: flex;
    align-self: flex-start;
    margin-left: 82px;
}

.space-1{
    height: 300px;
    width: 100%;
}

.hidden{
    display: none;
}

.hard-mode-processing{
    width: 100%;
    padding: 50px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.input-container{
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.switch-container{
    display: flex;
    justify-content: space-between;
}

.switch-container-2{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-left: auto;
    margin-right: auto;

}

#form-video{
    height: 250px;
}


#form-section-div{
    height: 70%;
    width: 100%;
}
/* 
#left-bank-station-label{
    height: auto;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    line-height: 1.1;
    padding-top: 5px;
    padding-bottom: 5px;
} 

#left-bank-station-input{
    height: 100%;
} */

#analize-message{
    font-size: 1.2rem;
}


.input-field-select {
    flex-shrink: 0;
    appearance: none; /* Elimina el estilo nativo del select */
    /* La imagen SVG es una flecha hacia abajo, ajusta la posición según sea necesario */
  }
  
.input-field-select::-ms-expand {
    display: none; /* Oculta la flecha en IE */
  }

#form-analizing{
    display: flex;
    flex-direction: column;

}



.all-in-one-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#apply-changes{
    align-self: center;
}

.simple-input-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 25px;
    color: var(--primary-text-color);

}

.simple-input-container label{
    font-size: 20px;
    font-weight: 500;
}

.simple-input-container input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-color: var(--input-background);
    color: var(--primary-text-color);
    font-size: 1.1em;
}

/* .last-settings-form-field-container input:focus{
    outline: none;
    border-bottom: 4px solid var(--background-error);
} */

.last-settings-form-field-radio{
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    width: 70%;
    background-color: transparent;

}

#label-unit-sistem{
    margin-bottom: 15px;
    align-self: center;
}

.last-settings-form-field-radio label{
    margin-right: 20px;
    margin-bottom: 8px;
    font-size: 18px;
}

.last-settings-form-field-radio input{
    width: 20px;
}

#last-settings-form-field-date{
    font-size: 17px;
}

#last-settings-form-field-date::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

#D12{
    border-color: var(--d12);
    border: solid 3px var(--d12);
}
#D13{
    border: solid 3px var(--d13);
}
#D14{
    border: solid 3px var(--d14);
}
#D23{
    border: solid 3px var(--d23);
}
#D24{
    border: solid 3px var(--d24);
}
#D34{
    border: solid 3px var(--d34);
}


.analizing-output{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 200px;
    margin-top: 40px;
}

.analizing-output p{
    font-size: 1.4rem;
    margin-bottom: 5px;
}