body{
    background-color:#262626;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

/* Cuando terminemos el componente, pasar lo de repot-html-page a body, dejando un solo div. Renombrar el container a page*/
#report-html-page {
    overflow-y: auto;
    overflow-x: auto;
    width: 98%;
    height: 100vh;
    margin: 20px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

#report-html-container {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #FFFFFF;
}


#report-header-container{
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(to right, #0678BE, #0A5A8A);    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
}

#header-icon-container{
    color: #FFFFFF;
}

#header-icon svg{
    width: 65px;
    height: 65px;
}

#header-title-container{
    height: 100px;
    width: auto;
    margin-left: 20px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.header-title-text{
    color: #FFFFFF;
}

#header-title-date{
    color: #FFFFFF;
    margin-top: 5px;
    font-weight: 500;    
}


#header-total{
    height: 100px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-title-field{
    align-self: flex-start;
    margin-bottom: -15px;
    font-weight: 900;
    font-size: 1.7em;
}

#report-video-info-container{
    width: 100%;
    border: solid;
    border-radius: 20px;
    margin-top: 20px;
}

.report-grid-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1px auto; /* Añade una fila para la línea divisoria */
    gap: 5px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.report-grid-1::before {
    content: "";
    grid-column: 1 / -1; /* Ocupa todas las columnas */
    grid-row: 2; /* Segunda fila */
    height: 0.3px;
    background-color: #00000054; /* Color de la línea divisoria */
}

.report-info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.report-info-item:nth-child(-n+5) {
    grid-row: 1; /* Primera fila */
}

#report-processed-range-container{
    width: 100%;
    border: solid;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

#report-carousel{
    align-self: center;
    margin-top: 10px;
    width: 95%;
}

.report-carousel-img{
    width: calc(100% / 5);
    height: 130px;
}

#first-img-carousel{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#last-img-carousel{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#report-carousel-footer{
    display: flex;
    width: 95%;
    align-self: center;
}

#report-carousel-footer p{
    width: calc(100% / 5);
    text-align: center;
}

#report-section-wrapper{
    width: 100%;
}

#report-section-container{
    width: 100%;
    margin-top: 25px;
    background: linear-gradient(to right, #0678BE, #0A5A8A);    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-text-color);
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    color: #FFFFFF;
}

#report-section-top-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#report-section-top-left-container{
    margin-left: 12px;
    margin-top: 40px;
    width: 50%;
}

#report-section-top-right-container{
    margin-right: 12px;
    margin-top: 8px;
}


#report-section-discharge-label{
    margin-top: 12px;
    font-weight: 480;
}

.report-section-title{
    font-size: 45px;
}

.report-section-title-1{
    font-size: 20px;
    font-weight: 500;
}

#report-section-img {
    margin-top: 40px;
    width: 85%;
    height: auto;
    border-radius: 20px;
}

#report-section-top-left-container h4{
    font-size: 16px;
    font-weight: 400;
}


#report-section-velocity{
    margin-top: -70px;
    margin-left: -30px
}

#report-section-discharge{
    margin-left: -30px
}

#report-section-bath{
    margin-top: -50px;
    margin-left: -26px
}


#report-section-table {
    margin-top: 10px;
    text-align: center; /* Centra el contenido del contenedor */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


#report-section-table table {
    width: 45%;
    border-collapse: collapse;
    margin: 0 auto; /* Centra la tabla horizontalmente */
}


#report-section-table th, #report-section-table td {
    border: none;
    padding: 2px;
    text-align: center; /* Centra el texto en las celdas */
}

#report-section-table thead {
    border-bottom: 2px solid;
}

#report-section-table tbody tr {
    border: none;
}

#report-section-table tbody tr td {
    border: none;
}

#report-section-table th div {
    display: block;
    text-align: center;
  }
  
#report-section-table th div:first-child {
    font-weight: bold;
    font-size: 1.5em;
 }

#report-section-table th div:last-child {
    font-size: 1.1em; /* Opcional: para hacer la 'm' más pequeña */
    font-weight: 400;
    margin-top: 2px;
}


#report-section-table td {
    font-size: 1.2em;
}

.mt--1{
    margin-top: -20px;
}

#download-button{
    position: absolute;
    height: 60px;
    width: 100px;
    top: 10px;
    right: 200px;

}

#text-report{
    margin-top: 40px;
    width: 80%;
}

#report-section-summary-container{
    margin-top: 25px;
    width: 100%;
    height: auto;
    border: solid #000000;
    border-radius: 20px;
    padding: 15px;
}


#report-section-summary-container th, #report-section-summary-container td {
    border: none;
    padding: 2px;
    text-align: center; /* Centra el texto en las celdas */
}

#report-section-summary-container table{
    color: black;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* Centra la tabla horizontalmente */
}

#report-section-summary-container thead{
    border-bottom: solid 1px #00000054;
}

#report-section-summary-container th div:first-child {
    font-weight: bold;
    font-size: 1.2em;
 }

#report-section-summary-container th div:last-child {
    font-size: 1.1em; /* Opcional: para hacer la 'm' más pequeña */
    font-weight: 400;
    margin-top: 1.5px;
    margin-bottom: 5px;
}

#report-section-summary-container tr th:first-child{
    vertical-align: top; 
    font-size: 1.2em;
}

#report-section-summary-container tbody tr{
    height: 40px;
}   

.summary-last-section{
    border-bottom: solid 1px #00000054;
}


#report-pixel-transformation-container{
    margin-top: 25px;
    color: #000000;
    width: 100%;
    border: solid #000000;
    border-radius: 20px;
    display: flex;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#report-pixel-transformation-container div {
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding-left: 10px;
    padding-right: 20px;
    height: 30px;
}
#report-pixel-transformation-container div p{
    color: #000000;
}

#report-pixel-transformation-container div:first-child {
    border-right: solid 1px #00000054;    
}

#report-pixel-transformation-container div:last-child {
    border-left: solid 1px #00000054;
}

#report-processing-parameters-container{
    margin-top: 25px;
    color: #000000;
    width: 100%;
    border: solid #000000;
    border-radius: 20px;
    display: flex;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#report-processing-parameters-container > div {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#report-processing-parameters-container > div:first-child {
    border-right: solid 1px #00000054;    
}

#report-processing-parameters-container > div:last-child {
    border-left: solid 1px #00000054;    
}


#report-processing-parameters-container > div > div{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;    
    padding-right: 20px;
    padding-left: 20px;
}

#report-processing-parameters-container > div > div > p{
    color: #000000;
}

#report-processing-parameters-container > div > h2{
    font-weight: 400;
}

.report-processing-parameters-subfield {
    padding-left: 60px !important;
}

#report-footer-container{
    width: 100%;
    border-radius: 20px;
    margin-top: 80px;
    display: flex;
    background-color: #F5F5F5;
    padding: 20px 40px;
    color: #000000;
    align-items: center;
}

#report-footer-river-logo{
    width: 150px;
    height: auto;
}

#report-footer-container div{
    width: 33%;
}

#report-footer-container div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

#report-footer-container div:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
}

#report-footer-container div:last-child a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    text-decoration: none;
    color: #000;
}

#report-footer-container div:last-child a > span{
    font-size: 1.2em;
    font-weight: 500;
    color: #000;
}

#report-footer-github-logo{
    width: 50px;
    height: auto;
}


@media print {
    @page {
        margin: 0;
        size: A4;
    }

    #report-section-container {
        page-break-inside: avoid; /* Evita que el contenedor se divida entre páginas */
    }

    #report-section-wrapper {
        page-break-inside: avoid; /* Evita que el contenedor se divida entre páginas */
    }

    #summary-title {
        page-break-before: always; /* Comienza una nueva página antes de este contenedor */
        page-break-inside: avoid; /* Evita que el contenedor se divida entre páginas */
    }

    #report-footer-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-bottom: 15px;

    }

    #report-footer-container div:nth-child(2){
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    #report-footer-container div:last-child{
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }


    #report-section-table{
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }


    /* Asegurarse de que los colores de fondo y bordes se impriman */
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
        img {
        image-rendering: pixelated; /* Opción para reducir la calidad de las imágenes */
    }

    /* Asegura que el fondo de la última página sea consistente */
    body {
        background-color: #fff !important; /* Cambia este color según tus necesidades */
    }
}