.asd{
    background-color: red;
    color: blue;
}

#report-header-container{
    width: 100%;
    height: 130px;
    border-radius: 20px;
    background: linear-gradient(to right, #0678BE, #0A5A8A);    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-icon svg{
    width: 65px;
    height: 65px;
}

#header-icon-container{
    margin-left: 40px;
}

#header-title-container{
    height: 100px;
    width: auto;
    margin-left: 20px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.header-title-text{
    color: #FFFFFF;
}

#header-title-date{
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: auto;
    font-weight: 500;    
}


#header-total{
    height: 100px;
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-title-field{
    align-self: flex-start;
    margin-bottom: -15px;
    font-weight: 900;
    font-size: 1.7em;
}

#report-video-info-container{
    width: 100%;
    border: solid;
    border-radius: 20px;
    margin-top: 20px;
}

.report-grid-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1px auto; /* Añade una fila para la línea divisoria */
    gap: 5px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.report-grid-1::before {
    content: "";
    grid-column: 1 / -1; /* Ocupa todas las columnas */
    grid-row: 2; /* Segunda fila */
    height: 0.3px;
    background-color: #00000054; /* Color de la línea divisoria */
}

.report-info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.report-info-item:nth-child(-n+5) {
    grid-row: 1; /* Primera fila */
}

#report-processed-range-container{
    width: 100%;
    border: solid;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

#report-carousel{
    align-self: center;
    margin-top: 10px;
    width: 95%;
}

.report-carousel-img{
    width: calc(100% / 5);
    height: 130px;
}

#first-img-carousel{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#last-img-carousel{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#report-carousel-footer{
    display: flex;
    width: 95%;
    align-self: center;
}

#report-carousel-footer p{
    width: calc(100% / 5);
    text-align: center;
}

#report-section-container{
    width: 100%;
    margin-top: 25px;
    background: linear-gradient(to right, #0678BE, #0A5A8A);    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-text-color);
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

#report-section-top-container{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


#report-section-top-left-container{
    width: 50%;
}

#report-section-top-right-container{
    margin-right: 60px;
    margin-top: 10px;
}


#report-section-discharge-label{
    margin-top: 8px;
    font-weight: 480;
}

.report-section-title-1{
    font-size: 20px;
    font-weight: 500;
}

#report-section-img {
    margin-top: 20px;
    width: 80%;
    height: auto;
    border-radius: 20px;
}

#report-section-top-left-container h4{
    font-size: 16px;
    font-weight: 400;
}


#report-section-velocity{
    margin-top: -70px;
    margin-left: -30px
}

#report-section-discharge{
    margin-left: -30px
}

#report-section-bath{
    margin-top: -50px;
    margin-left: -26px
}


#report-section-table {
    margin-top: 10px;
    text-align: center; /* Centra el contenido del contenedor */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


#report-section-table table {
    width: 45%;
    border-collapse: collapse;
    margin: 0 auto; /* Centra la tabla horizontalmente */
}


#report-section-table th, #report-section-table td {
    border: none;
    padding: 2px;
    text-align: center; /* Centra el texto en las celdas */
}

#report-section-table thead {
    border-bottom: 2px solid;
}

#report-section-table tbody tr {
    border: none;
}

#report-section-table tbody tr td {
    border: none;
}

#report-section-table th div {
    display: block;
    text-align: center;
  }
  
#report-section-table th div:first-child {
    font-weight: bold;
    font-size: 1.5em; /* Opcional: para resaltar la 'x' */
 }

#report-section-table th div:last-child {
    font-size: 1.1em; /* Opcional: para hacer la 'm' más pequeña */
    font-weight: 400;
    margin-top: 2px;
}

#report-section-table td {
    font-size: 1.2em;
}

.mt--1{
    margin-top: -20px;
}

/* @media print {


    .report-section-container {
        page-break-inside: avoid;
    }
}
 */
